/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

img {
	width: 50px;
}

 .seznam {
	 display: flex;
	 justify-content: space-around;
	 font-size: 14px;
	 flex-wrap: wrap;
 }

ul {
	margin: 0;
	padding: 0;
}

 .volba {
	 padding: 15px;
 }

.hlavni {
	display: none;
}

 a {
	 color: #25133d;
	 text-decoration: none;
 }

 a:hover {
	 color: white;
 }

 li {
	 list-style: none;
 }

 .banner {
	 background-color: #48418e;
	 background-image: url(images/pozadi.jpg);
 }

 .volba:hover {
	 background-color: #48418e;
	 color: white;
 }

 h1 {
	 margin: 0;
 }